<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<BaseConfiguration>
		<AdAdapters>
			<AdAdapterInfo>
				<Metadata>
					<Property>
						<Key>WApplicationId</Key>
						<Value>dbcdf942-afce-4794-98e1-fcaef987d2ef</Value>
					</Property>
					<Property>
						<Key>WAdUnitId</Key>
						<Value>252001</Value>
					</Property>
					<Property>
						<Key>WWidth</Key>
						<Value>300</Value>
					</Property>
					<Property>
						<Key>WHeight</Key>
						<Value>250</Value>
					</Property>
					<Property>
						<Key>MApplicationId</Key>
						<Value>654738cd-42c4-42db-86ed-6e6eba198bd4</Value>
					</Property>
					<Property>
						<Key>MAdUnitId</Key>
						<Value>252005</Value>
					</Property>
					<Property>
						<Key>MWidth</Key>
						<Value>480</Value>
					</Property>
					<Property>
						<Key>MHeight</Key>
						<Value>80</Value>
					</Property>
				</Metadata>
				<Name>MicrosoftAdvertising</Name>
				<Rank>1</Rank>
				<Timeout>15000</Timeout>
				<Weight>100</Weight>
			</AdAdapterInfo>
			<AdAdapterInfo>
				<Metadata>
					<Property>
						<Key>AppKey</Key>
						<Value>4e7ab990-2cf9-4a79-8a35-0b8e1f4a671a</Value>
					</Property>
					<Property>
						<Key>AdUnitId</Key>
						<Value>172239</Value>
					</Property>
				</Metadata>
				<Name>AdDuplex</Name>
				<Rank>2</Rank>
				<Timeout>15000</Timeout>
				<Weight>0</Weight>
			</AdAdapterInfo>
			<AdAdapterInfo>
				<Metadata>
					<Property>
						<Key>IsHouse</Key>
						<Value>true</Value>
					</Property>
					<Property>
						<Key>WApplicationId</Key>
						<Value>dbcdf942-afce-4794-98e1-fcaef987d2ef</Value>
					</Property>
					<Property>
						<Key>WAdUnitId</Key>
						<Value>252002</Value>
					</Property>
					<Property>
						<Key>WWidth</Key>
						<Value>300</Value>
					</Property>
					<Property>
						<Key>WHeight</Key>
						<Value>250</Value>
					</Property>
					<Property>
						<Key>MApplicationId</Key>
						<Value>654738cd-42c4-42db-86ed-6e6eba198bd4</Value>
					</Property>
					<Property>
						<Key>MAdUnitId</Key>
						<Value>252006</Value>
					</Property>
					<Property>
						<Key>MWidth</Key>
						<Value>480</Value>
					</Property>
					<Property>
						<Key>MHeight</Key>
						<Value>80</Value>
					</Property>
				</Metadata>
				<Name>MicrosoftAdvertisingHouse</Name>
				<Rank>-1</Rank>
				<Timeout>15000</Timeout>
				<Weight>-20</Weight>
			</AdAdapterInfo>
		</AdAdapters>
		<AdControlConfigurations>
			<AdControlConfiguration>
				<AdAdapters>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>252001</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>252005</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertising</Name>
						<Rank>1</Rank>
						<Timeout>15000</Timeout>
						<Weight>100</Weight>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>AdUnitId</Key>
								<Value>172239</Value>
							</Property>
						</Metadata>
						<Name>AdDuplex</Name>
						<Rank>2</Rank>
						<Timeout>15000</Timeout>
						<Weight>0</Weight>
					</AdAdapterInfo>
					<AdAdapterInfo>
						<Metadata>
							<Property>
								<Key>WAdUnitId</Key>
								<Value>252002</Value>
							</Property>
							<Property>
								<Key>WWidth</Key>
								<Value>300</Value>
							</Property>
							<Property>
								<Key>WHeight</Key>
								<Value>250</Value>
							</Property>
							<Property>
								<Key>MAdUnitId</Key>
								<Value>252006</Value>
							</Property>
							<Property>
								<Key>MWidth</Key>
								<Value>480</Value>
							</Property>
							<Property>
								<Key>MHeight</Key>
								<Value>80</Value>
							</Property>
						</Metadata>
						<Name>MicrosoftAdvertisingHouse</Name>
						<Rank>-1</Rank>
						<Timeout>15000</Timeout>
						<Weight>-20</Weight>
					</AdAdapterInfo>
				</AdAdapters>
				<Id>AdMediator-Id-1CC7F765-A367-4245-9463-BE365F85648E</Id>
				<Name>AdMediator</Name>
			</AdControlConfiguration>
		</AdControlConfigurations>
		<RotationAlgorithm>Ratio</RotationAlgorithm>
	</BaseConfiguration>
	<CdnUriFormat>https://admediatorcdn.windowsphone.com/public/xtiH6SJgsNG34Rwz+JZcKuSBIgGroN4ICbX1Jd7DAHU=/{0}.config</CdnUriFormat>
	<ConfigId>xtiH6SJgsNG34Rwz+JZcKuSBIgGroN4ICbX1Jd7DAHU=</ConfigId>
	<FileVersion>1.0.2</FileVersion>
	<RefreshRate>30</RefreshRate>
	<SchemaVersion>2.0.1</SchemaVersion>
	<UpdatedDateTime>2015-10-27T16:58:17.6331056Z</UpdatedDateTime>
</AdMediatorConfiguration>